<!DOCTYPE html>
<html>
<head>
	<title>Iron Alum</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.sass.css">
</head>
<body>

<!-- Landing Page -->
	<form id="searchForm">
		<div>
			<select id="locationSearch">
				<option value="" disabled selected>Select Location:</option>
				<option value="Austin">Austin</option>
				<option value="Dallas">Dallas</option>
				<option value="Houston">Houston</option>
			</select>
		</div>
		<div>
			<select id="courseSearch">
				<option value="" disabled selected>Select Class:</option>
				<option value="Backend">Back End Engineering</option>
				<option value="Frontend">Front End Engineering</option>
				<option value="Design">Design</option>
			</select>
		</div>
		<button>Search for Student</button>
	</form>

<!-- End of landing page -->
<!-- Student List Page -->
	<div id="student-list"></div>
	<div id="profile-page"></div>


<script type="text/javascript" src="scripts/bundle.js"></script>
<!-- List template -->
<script type="text/template" id="student-row">
		<%= f_name %> <%= l_name %></br>
		<%= city %>
		<a href="#profile/<%= id %>">View Profile</a>
</script>
<!-- Profile template -->
<script type="text/template" id="profile-view">
		<%= f_name %> <%= l_name %></br>
		<%= email %></br>
		<%= city %> <%= state %></br>
		<%= course_name %> <%= start_date %> <%= end_date %></br>
		<%= bio %></br>
		<%= linked_in %></br>
		<%= github %></br>
		<%= employed %></br>
		<!-- <%= where %></br>-->
</script>
</body>
</html>