<!DOCTYPE html>
<html>
<head>
	<title>Iron Alum</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.sass.css">
</head>
<body>

<!-- Landing Page -->
	<form id="searchForm">
		<div>
			<select id="locationSearch">
				<option value="" disabled selected>Select Location:</option>
				<option value="Austin">Austin</option>
				<option value="Dallas">Dallas</option>
			</select>
		</div>
		<div>
			<select id="courseSearch">
				<option value="" disabled selected>Select Class:</option>
				<option value="backend">Back End Engineering</option>
				<option value="FEE">Front End Engineering</option>
				<option value="Design">Design</option>
			</select>
		</div>
		<button>Search for Student</button>
	</form>

<!-- End of landing page -->
<!-- Student List Page -->
	<div id="student-list"></div>



<script type="text/javascript" src="scripts/bundle.js"></script>
<script type="text/template" id="student-row">
		<div><%= f_name %> - <%= l_name %></div><div><%= where %></div><button>View Profile</button>
</script>
</body>
</html>