<!DOCTYPE html>
<html>

<head>
    <title>Iron Alum</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/node_modules/materialize-css/bin/materialize.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/styles/main.sass.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
     <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo" id="home">Logo</a>
        <ul class="right">
          <li><a href="students" id="view-all">View All TIY Students</a></li>
        </ul>
      </div>
    </nav>
  </div>
 	<!--  homepage -->
 	<div class="heroImg">
 		    <img class="responsive-img" src="images/home-hero-new.jpg">
 		    <h3> Connecting Employers to Alumni </h3>
 	</div>
 	<div class="row">
        <div class="col s12 m6">
          <div class="z-depth-5 card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Employers</span>
              <p>Our proven career support program and relationships with companies mean our graduates find amazing work. </p>
            </div>
            <div class="card-action">
              <a href="#">Find your next employee ></a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="z-depth-5 card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Alumni</span>
              <p>Whether you’re looking to join a startup, work at an agency, or get just stay in touch.</p>
            </div>
            <div class="card-action">
              <a href="#">Create a profile ></a>
            </div>
          </div>
        </div>
      </div>
    
	<!-- Employer search page -->
    <form id="searchForm">
        <div class="input-field col s12">
            <select id="locationSearch">
                <option value="" disabled selected>Select Location:</option>
                <option value="Austin">Austin</option>
                <option value="Dallas">Dallas</option>
                <option value="Houston">Houston</option>
            </select>
        </div>
        <div>
            <select id="courseSearch">
                <option value="" disabled selected>Select Class:</option>
                <option value="Backend">Back End Engineering</option>
                <option value="Frontend">Front End Engineering</option>
                <option value="Design">Design</option>
            </select>
        </div>
        <div class="button-wrap">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <!-- End of landing page -->
   <!--  Start of Profile Creation Page -->
	<div class="row">
		<form id="createProfile" class="col s12">
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">account_circle</i>
					<input id="f_name" type="text" class="validate" placeholder="First Name">
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">account_circle</i>
					<input id="l_name" type="text" class="validate" placeholder="Last Name">
				</div>
				<div class="input-field col s12">
					<i class="cityIcon material-icons prefix">room</i>
					<select id="cohortSelect">
						<option value="" disabled selected>Select your city and course</option>
						<option value="1">Austin - Front End</option>
						<option value="2">Austin - Back End</option>
						<option value="3">Austin - Design</option>
						<option value="4">Dallas - Front End</option>
						<option value="5">Dallas - Back End</option>
						<option value="6">Dallas - Design</option>
						<option value="7">Houston - Front End</option>
						<option value="8">Houston - Back End</option>
						<option value="9">Houston - Design</option>
					</select>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">email</i>
					<input id="email" type="email" class="validate" placeholder="Email">
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">label_outline</i>
					<input id="linked_in" type="text" class="validate" placeholder="Linked In">
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">label_outline</i>
					<input id="github" type="text" class="validate" placeholder="Github">
				</div>
				<div>
            <select id="employed">
                <option value="" disabled selected>Employed?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
				<div class="input-field col s12">
					<i class="material-icons prefix">perm_identity</i>
					<textarea id="bio" class="materialize-textarea" placeholder="Bio"></textarea>
				</div>
			</div>
			<div class="button-wrap">
	            <button class="btn waves-effect waves-light" type="submit" name="action">Create Profile
	                <i class="material-icons right">send</i>
	            </button>
        </div>
		</form>
	</div>
    <!-- Student List Page -->
    <div id="student-list"></div>
    <div id="profile-page"></div>
  <!--   footer -->
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    <script type="text/javascript" src="scripts/bundle.js"></script>

    <!-- List template -->
    <script type="text/template" id="student-row">
        <%= f_name %>
            <%= l_name %>
                </br>
                    <a href="#students/<%= id %>">View Profile</a>
    </script>
    <!-- Profile template -->
    <script type="text/template" id="profile-view">
        <%= f_name %>
        <%= l_name %>
        </br>
        <%= email %>
        </br>
        <%= bio %>
        </br>
        <%= linked_in %>
        </br>
        <%= github %>
        </br>
        <%= employed %>
        </br>
    </script>
    
</body>

</html>
