

body{
	background-color:#E3E7E9;

}


nav {
	background-color: #39474E;
	height: 5em;
	width:100%;
	.brand-logo{
		margin-left:1em;
		background: url("../images/iron-yard-logo-sm.png");
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 100%;
	}

}
.heroImg{ 
   position: relative;
   height: 26em;
   background: url("../images/home-hero-new.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.6;

}


h3 { 
   position: absolute; 
   top: 20%; 
   left: 0; 
   width: 100%; 
   text-align:center;
   color: white;
   text-shadow: 1px 1px 2px black; 

}
.card-panel{
	margin: 1em;
}
form{
	display:none;
	select{
		width: 75%;
		margin: 1em auto;
		display: none;
	}
	.button-wrap{
		text-align: center;
		display:none;
	}

}
.row .col {
	padding: 1em;
	.s12 {
		width: 95%;
    margin-left: 10px;
}
}

.cityIcon{
	margin-top:.75em;
}

footer.page-footer {
	background-color: #39474E;
}

// medium
@media only screen and (min-width: 601px){
	.row .col.offset-m1 {
	    margin-left: 10.33333%;
	}
}